<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Memento/Contact Us</title>
        <meta name="description" content="Find all the ways to contact us here! Feel fee of let us any coment or critic that you wish, about any of our works."
       <meta name="keywords" content="PHOTOGRAPHY,PICTURE,STUDIO,PHOTOGRAPHER,VISUAL ARTS,BACKGROUND,WILD,
       NATURE,LANDSCAPE,PORTRAIT,BLAK&WHITE,LIGTHROOM,MEMENTO,SHOWS,CURSES,EVENTS PHOTOGTAPHER,ANIMALS PHOTOGRAPHY,CONTACT, EMAIL,FACEBOOK,INSTAGRAM">

        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../vendor/css/normalize.css">
        <link rel="stylesheet" href="../vendor/css/bootstrap.min.css"> 

        <link  rel="icon"   href="../assets/icons/logo.png" type="image/png">

        <script src="https://kit.fontawesome.com/076977d5ec.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <!--~~~HEADER~~~-->
        <header class="__header">
            <div class="container justify-content-center">
                <div class="row">
                    
                    <span class=" my-auto col-lg-5 my-auto d-inline-block">
                        <a class="__header__title" href="../index.html">MEMENTO</a>
                        <span class="d-none d-sm-inline-block __header__secction__title my-auto">/About Us</span>
                    
                    </span>
                    
                    <nav class="d-none d-lg-inline-block offset-lg-2  col-5 p-0">
                        <ul class="__header__list">
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fab fa-instagram-square alt="Instragram logo""></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flickr.com/" target="_blank">
                                    <i class="fab fa-flickr " alt="Flickr logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fab fa-facebook-square" alt="Facebook logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:nicopj20@gmail.com" target="_blank"><i class="fa fa-envelope" alt="Send email logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/543515494995" target="_blank"><i class="fab fa-whatsapp" alt="Whatsapp logo"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            
                <!--NAVBAR MENU-->

                <nav class="container d-none d-md-inline-block" id="__header__navbar_menu">
                    <ul class=" d-inline-block">
                        <li class="__header__navbar_menu__item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="../index.html">Home</a>
                        </li>
                        <li class="__header__navbar_menu__item deploy_trigger">
                            <a class="js-scroll-trigger" rel=“nofollow” href="../index.html#portfolio">Portfolio</a>
                            <ul class="__header__navbar_menu__deploy_menu animate__animated animate__fadeIn animate__slowe">
                                <li class="__header__navbar_menu__item">
                                    <a href="./portrait.html">Portrait</a>
                                </li>
                                <li class="__header__navbar_menu__item">
                                    <a href="./show.html">Show</a>
                                </li>
                                <li class="__header__navbar_menu__item">
                                    <a href="./photojournalism.html">Photojournalism</a>
                                </li>
                                <li class="__header__navbar_menu__item">
                                    <a href="./nature.html">Nature</a>
                                </li>
                            </ul>
                        </li>
                        <li class="__header__navbar_menu__item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="./aboutus.html">About Us</a>
                        </li>
                        <li class="__header__navbar_menu__item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="">Services</a>
                        </li>
                        <li class="__header__navbar_menu__item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="./contact.html">Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--~~~MENU LATERAL~~~-->
            <div class="d-inline-block d-md-none">
                <a class="menu-toggle rounded" href="#">
                <i class="fas fa-bars"></i>
                </a>
                <nav id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a class="js-scroll-trigger" rel=“nofollow” href="../index.html">MEMENTO</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="../index.html">Home</a>
                        </li>
                        <!--Dropdown-->
                        <li class="sidebar-nav-item">
                            <div class="dropleft dropdown_sidebar">
                                <button type="button" class="dropdown_arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span span class="fas fa-caret-left"></span>
                                </button>
                                <div id="dropdown-submenu" class="dropdown-menu">
                                    <a class="dropdown-item" href="./portrait.html">Portrait</a>
                                    <a class="dropdown-item" href="./show.html">Show</a>
                                    <a class="dropdown-item" href="./photojournalism.html">Photojournalism</a>
                                    <a class="dropdown-item" href="./nature.html">Nature</a>
                                </div>
                                <button type="button"><a class="js-scroll-trigger dropdown_btn" href="../index.html#portfolio">Portfolio</a></button>
                            </div>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="./aboutus.html">About Us</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="">Services</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="./contact.html">Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <!--~~~MAIN~~~-->
        <main class="__aboutus--background">
            <!--~~~Acordeon~~~-->
            <div id="__acordion__container" class="container animate__animated animate__fadeIn animate__slower">
                <div class="row">
                    <div class="accordion col-12 col-md-6 p-0">
                        <input type="radio" name="select" class="accordion-select" checked />
                        <div class="accordion-title"><span>Who?</span></div>
                        <div class="accordion-content">We are Memento photography studio, we are formed by the great team of multidisciplinary artist.
                            Our goal is to discover all the hidden wonders in the world and bring them to your eyes. Here you can find our works, services and contact</div> 
                            <input type="radio" name="select" class="accordion-select" />
                        <div class="accordion-title"><span>What?</span></div>
                        <div class="accordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iste sit earum laudantium dolores tempore odio fuga illum! Tenetur, officiis? Aliquid accusamus quae aut ad facilis doloremque impedit suscipit mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nesciunt consequuntur autem natus neque fugit nulla Omnis ipsa voluptas ullam quisquam obcaecati nulla?</div> 
                            <input type="radio" name="select" class="accordion-select" />
                        <div class="accordion-title"><span>Goals</span></div>
                        <div class="accordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, aut quidem! Quaerat pariatur dicta facere velit reiciendis nobis illo corrupti. Qui doloremque veniam exercitationem nobis recusandae ad obcaecati similique aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas culpa, qui consequuntur nemo cupiditate rerum quia unde voluptatibus, maxime aspernatur vero asperiores!</div> 
                            <input type="radio" name="select" class="accordion-select" />
                        <div class="accordion-title"><span>Team</span></div>
                        <div class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque sed id magnam recusandae rem. Facere quam quasi eaque! Atque eius officiis, voluptates odio commodi eum sunt laboriosam culpa quod nam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et mollitia obcaecati ipsam quod? Voluptates aut ut eius, neque officiis adipisci repellat, quam enim, sequi rerum quod minima possimus reiciendis dolor!</div> 
                        <input type="radio" name="select" class="accordion-select" />
                        <div class="accordion-title"><span>Why us?</span></div>
                        <div class="accordion-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate quis vitae at quod ipsa facere odit provident dicta, earum odio laborum nulla debitis labore fugiat molestias, eius cumque placeat neque? Perspiciatis odit fuga dolorum mollitia facere unde culpa maxime blanditiis sint, nulla placeat iure? Libero quae molestias culpa, perspiciatis temporibus voluptate similique?</div> 
                    </div>

                    <div id="__acordion__picture" class="d-none d-md-inline-block col-md-6"></div>

                </div>
            </div>

              
 
        </main>
        <!--~~~FOOTER~~~-->
        <footer class="__footer">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../index.html#page_top">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
                    <nav class="row justify-content-center pt-3 pb-4">
                        <ul class="__footer__list m-0 p-0">
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fab fa-instagram-square" alt="Instragram logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flickr.com/" target="_blank">
                                    <i class="fab fa-flickr " alt="Flickr logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fab fa-facebook-square" alt="Facebook logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:nicopj20@gmail.com" target="_blank"><i class="fa fa-envelope" alt="Send email logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/543515494995" target="_blank"><i class="fab fa-whatsapp" alt="Whatsapp logo"></i>
                                </a>
                            </li>
                        </ul>
                </nav>
                <div class="row">
                    <span class="col-12 mb-4">
                        © 2020 MEMENTO, all rights reserved.
                    </span>
                </div>
            </div>
        </footer>



                <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded js-scroll-trigger" href="#page_top">
            <i class="fas fa-angle-up"></i>
        </a>


        <script src="../vendor/js/popper.min.js"></script>
        <script type="text/javascript" src="../vendor/js/jquery.min.js"></script>
        <script type="text/javascript" src="../vendor/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../vendor/js/bootstrap.bundle.min.js"></script>
        <script src="../vendor/js/stylish-portfolio.min.js"></script>
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    </body>
</html>