<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Memento/Thanks for contacting us</title>
        <meta name="description" content="Thank you for contacting us! Please fell free to explore our website, you may find some inspiration
        and some breahttaking images"
       <meta name="keywords" content="PHOTOGRAPHY,PICTURE,STUDIO,PHOTOGRAPHER,VISUAL ARTS,BACKGROUND,WILD,
       NATURE,LANDSCAPE,PORTRAIT,BLAK&WHITE,LIGTHROOM,MEMENTO,SHOWS,CURSES,EVENTS PHOTOGTAPHER,ANIMALS PHOTOGRAPHY">

        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../vendor/css/normalize.css">
        <link rel="stylesheet" href="../vendor/css/bootstrap.min.css"> 

        <link  rel="icon"   href="../assets/icons/logo.png" type="image/png">

        <script src="https://kit.fontawesome.com/076977d5ec.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <!--~~~HEADER~~~-->
        <header class="__header">
            <div class="container justify-content-center">
                <div class="row">
                    <a class="__header__title col-2 my-auto " href="../index.html">
                        <span class=" col-2 my-auto ">MEMENTO<!--CONTINUAR ACAAAA--></span>
                    </a>
                    
                    <nav class="d-none d-sm-inline-block col-6 offset-4">
                        <ul class="__header__list">
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fab fa-instagram-square" alt="Instragram logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flickr.com/" target="_blank">
                                    <i class="fab fa-flickr " alt="Flickr logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fab fa-facebook-square" alt="Facebook logo"></i>
                                </a>
                            </li>
                            <li class=" d-none d-md-inline-block">
                                <a href="mailto:nicopj20@gmail.com" target="_blank"><i class="fa fa-envelope" alt="Send email logo"></i>
                                </a>
                            </li>
                            <li class="d-none d-md-inline-block">
                                <a href="https://wa.me/543515494995" target="_blank"><i class="fab fa-whatsapp" alt="Whatsapp logo"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--~~~MENU LATERAL~~~-->
            <a class="menu-toggle rounded" href="#">
                <i class="fas fa-bars"></i>
                </a>
                <nav id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a class="js-scroll-trigger" href="../index.html">MEMENTO</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" href="../index.html">Home</a>
                        </li>
                        <!--La fuking Lista desplegable del infierno-->
                        <li class="sidebar-nav-item sub-sidebar-header">
                            <a class="js-scroll-trigger" href="../index.html#portfolio">Portfolio</a>
                            <div class="sub-sidebar-wrapper">
                                <ul class="sub-sidebar-nav">
                                    <li class="sidebar-nav-item"><a href="#">Portrait</a></li>
                                    <li class="sidebar-nav-item"><a href="#">Show</a></li>
                                    <li class="sidebar-nav-item"><a href="#">Landscape</a></li>
                                    <li class="sidebar-nav-item"><a href="#">Nature</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" href="">About Us</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" href="">Services</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" href="../views/contact.html">Contact us</a>
                        </li>
                    </ul>
                </nav>
        </header>
        <!--~~~MAIN~~~-->
        <main class="__answer--background">
            <div class="container"></div>
                <div class="col-12 ">
                    <span class="__answer__thanks"><h1>Thank you for contacting us!</h1></span>

                    <span class="__answer__thanks"><h2>The members of our team will answer you shortly</h2></span>
                </div>
        </main>
        <!--~~~FOOTER~~~-->
        <footer class="__footer">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../index.html#page_top">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Thanks</li>
                    </ol>
                </nav>
                <nav class="row justify-content-center pt-3 pb-4">
                    <ul class="__footer__list m-0 p-0">
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fab fa-instagram-square" alt="Instragram logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.flickr.com/" target="_blank">
                                <i class="fab fa-flickr " alt="Flickr logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fab fa-facebook-square" alt="Facebook logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:nicopj20@gmail.com" target="_blank"><i class="fa fa-envelope" alt="Send email logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://wa.me/543515494995" target="_blank"><i class="fab fa-whatsapp" alt="Whatsapp logo"></i>
                            </a>
                        </li>
                    </ul>
            </nav>
            <div class="row">
                <span class="col-12 mb-4">
                    © 2020 MEMENTO, all rights reserved.
                </span>
            </div>
            </div>
        </footer>



                <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded js-scroll-trigger" href="#page_top">
            <i class="fas fa-angle-up"></i>
        </a>


        
        <script type="text/javascript" src="../vendor/js/jquery.min.js"></script>
        <script type="text/javascript" src="../vendor/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../vendor/js/bootstrap.bundle.min.js"></script>
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="../vendor/js/stylish-portfolio.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    </body>
</html>