<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Memento/Nature</title>
        <meta name="description" content="Our wildlife specialists travel around the world to capture and study the behavior of animals, you can contact us if you are interested in their work. We love collaborating with science and for a greener world.">
       <meta name="keywords" content="PHOTOGRAPHY,PICTURE,STUDIO,PHOTOGRAPHER,VISUAL ARTS,BACKGROUND,WILD,
       NATURE,LANDSCAPE,PORTRAIT,BLAK&WHITE,LIGTHROOM,MEMENTO,SHOWS,CURSES,EVENTS PHOTOGTAPHER,ANIMALS PHOTOGRAPHY,CONTACT, EMAIL,FACEBOOK,INSTAGRAM">

        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../vendor/css/normalize.css">
        <link rel="stylesheet" href="../vendor/css/bootstrap.min.css"> 

        <link  rel="icon"   href="../assets/icons/logo.png" type="image/png">

        <script src="https://kit.fontawesome.com/076977d5ec.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <a name="page_top"></a>
        <!--~~~HEADER~~~-->
        <header class="__header">
            <div class="container justify-content-center">
                <div class="row">
                    
                    <span class=" my-auto col-lg-5 my-auto d-inline-block">
                        <a class="__header__title" href="../index.html">MEMENTO</a>
                        <span class="d-none d-sm-inline-block __header__secction__title my-auto">/Nature</span>
                    
                    </span>
                    
                    <nav class="d-none d-lg-inline-block offset-lg-2  col-5 p-0">
                        <ul class="__header__list">
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fab fa-instagram-square alt="Instragram logo""></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flickr.com/" target="_blank">
                                    <i class="fab fa-flickr " alt="Flickr logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fab fa-facebook-square" alt="Facebook logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:nicopj20@gmail.com" target="_blank"><i class="fa fa-envelope" alt="Send email logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/543515494995" target="_blank"><i class="fab fa-whatsapp" alt="Whatsapp logo"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            
                <!--NAVBAR MENU-->

                <nav class="container d-none d-md-inline-block" id="__header__navbar_menu">
                    <ul class=" d-inline-block">
                        <li class="__header__navbar_menu__item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="../index.html">Home</a>
                        </li>
                        <li class="__header__navbar_menu__item deploy_trigger">
                            <a class="js-scroll-trigger" rel=“nofollow” href="../index.html#portfolio">Portfolio</a>
                            <ul class="__header__navbar_menu__deploy_menu animate__animated animate__fadeIn animate__slowe">
                                <li class="__header__navbar_menu__item">
                                    <a href="./portrait.html">Portrait</a>
                                </li>
                                <li class="__header__navbar_menu__item">
                                    <a href="./show.html">Show</a>
                                </li>
                                <li class="__header__navbar_menu__item">
                                    <a href="./photojournalism.html">Photojournalism</a>
                                </li>
                                <li class="__header__navbar_menu__item">
                                    <a href="./nature.html">Nature</a>
                                </li>
                            </ul>
                        </li>
                        <li class="__header__navbar_menu__item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="./aboutus.html">About Us</a>
                        </li>
                        <li class="__header__navbar_menu__item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="">Services</a>
                        </li>
                        <li class="__header__navbar_menu__item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="./contact.html">Contact us</a>
                        </li>
                    </ul>
                </nav>

            </div>
            <!--~~~MENU LATERAL~~~-->
            <div class="d-inline-block d-md-none">
                <a class="menu-toggle rounded" href="#">
                <i class="fas fa-bars"></i>
                </a>
                <nav id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a class="js-scroll-trigger" rel=“nofollow” href="../index.html">MEMENTO</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="../index.html">Home</a>
                        </li>
                        <!--Dropdown-->
                        <li class="sidebar-nav-item">
                            <div class="dropleft dropdown_sidebar">
                                <button type="button" class="dropdown_arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span span class="fas fa-caret-left"></span>
                                </button>
                                <div id="dropdown-submenu" class="dropdown-menu">
                                    <a class="dropdown-item" href="./portrait.html">Portrait</a>
                                    <a class="dropdown-item" href="./show.html">Show</a>
                                    <a class="dropdown-item" href="./photojournalism.html">Photojournalism</a>
                                    <a class="dropdown-item" href="./nature.html">Nature</a>
                                </div>
                                <button type="button"><a class="js-scroll-trigger dropdown_btn" href="../index.html#portfolio">Portfolio</a></button>
                            </div>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="./aboutus.html">About Us</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="">Services</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" rel=“nofollow” href="./contact.html">Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>


        <!--~~~GALLERY~~~-->

        <main class="__gallery--background pb-3">
            <div class="container ">
                <h1 id="__gallery__title" class="text-center pt-4 mb-5">Nature Gallery</h1>

                <!--Gallery structure-->
                <div class="row  justify-content-center mb-5" id="__gallery" data-toggle="modal" data-target="#nature_modal">
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img class="w-100" data-target="#nature_carousel" data-slide-to="0" src="../assets/img/nature_gallery/nature_gallery_0.jpg" alt="Snow Leopard">
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img class="w-100" data-target="#nature_carousel" data-slide-to="1" src="../assets/img/nature_gallery/nature_gallery_1.jpg" alt="Deer in a snowy forest">
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img class="w-100" data-target="#nature_carousel" data-slide-to="2" src="../assets/img/nature_gallery/nature_gallery_2.jpg" alt="Turtle swimming">
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img class="w-100" data-target="#nature_carousel" data-slide-to="3" src="../assets/img/nature_gallery/nature_gallery_3.jpg" alt="Rhino">
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img class="w-100" data-target="#nature_carousel" data-slide-to="4" src="../assets/img/nature_gallery/nature_gallery_4.jpg" alt="Dolphins">
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img class="w-100" data-target="#nature_carousel" data-slide-to="5" src="../assets/img/nature_gallery/nature_gallery_5.jpg" alt="Sunflower">
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img class="w-100" data-target="#nature_carousel" data-slide-to="6" src="../assets/img/nature_gallery/nature_gallery_6.jpg" alt="Lion">
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3">
                        <img class="w-100" data-target="#nature_carousel" data-slide-to="7" src="../assets/img/nature_gallery/nature_gallery_7.jpg" alt="Hummingbird feeding">
                    </div>
                </div>
                <!--Modal-->
                <div class="modal fade" id="nature_modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                    <span aria-hidden="true">x</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="nature_carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#nature_carousel" data-slide-to="0"></li>
                                        <li data-target="#nature_carousel" data-slide-to="1"></li>
                                        <li data-target="#nature_carousel" data-slide-to="2"></li>
                                        <li data-target="#nature_carousel" data-slide-to="3"></li>
                                        <li data-target="#nature_carousel" data-slide-to="4"></li>
                                        <li data-target="#nature_carousel" data-slide-to="5"></li>
                                        <li data-target="#nature_carousel" data-slide-to="6"></li>
                                        <li data-target="#nature_carousel" data-slide-to="7"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                    <div class="nature carousel-item active">
                                        <img class="d-block" src="../assets/img/nature_gallery/nature_gallery_0.jpg" alt="Snow Leopard">
                                    </div>
                                    <div class="nature carousel-item vertical_img">
                                        <img class="d-block" src="../assets/img/nature_gallery/nature_gallery_1.jpg" alt="Deer in a snowy forest">
                                    </div>
                                    <div class="nature carousel-item">
                                        <img class="d-block" src="../assets/img/nature_gallery/nature_gallery_2.jpg" alt="Turtle swimming">
                                    </div>
                                    <div class="nature carousel-item">
                                        <img class="d-block" src="../assets/img/nature_gallery/nature_gallery_3.jpg" alt="Rhino">
                                    </div>
                                    <div class="nature carousel-item">
                                        <img class="d-block" src="../assets/img/nature_gallery/nature_gallery_4.jpg" alt="Dolphins">
                                    </div>
                                    <div class="nature carousel-item vertical_img">
                                        <img class="d-block" src="../assets/img/nature_gallery/nature_gallery_5.jpg" alt="Parrot">
                                    </div>
                                    <div class="nature carousel-item">
                                        <img class="d-block" src="../assets/img/nature_gallery/nature_gallery_6.jpg" alt="Lion">
                                    </div>
                                    <div class="nature carousel-item">
                                        <img class="d-block" src="../assets/img/nature_gallery/nature_gallery_7.jpg" alt="Hummingbird feeding">
                                    </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#nature_carousel" role="button" data-slide="prev">
                                    <span class="fas fa-chevron-circle-left fa-2x __arrow--color" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#nature_carousel" role="button" data-slide="next">
                                    <span class="fas fa-chevron-circle-right fa-2x __arrow--color" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--~~~FOOTER~~~-->
        <footer class="__footer">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../index.html#page_top">Home</a></li>
                        <li class="breadcrumb-item"><a href="../index.html#portfolio">Portfolio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Nature</li>
                    </ol>
                </nav>
                    <nav class="row justify-content-center pt-3 pb-4">
                        <ul class="__footer__list m-0 p-0">
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fab fa-instagram-square" alt="Instragram logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flickr.com/" target="_blank">
                                    <i class="fab fa-flickr " alt="Flickr logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fab fa-facebook-square" alt="Facebook logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:nicopj20@gmail.com" target="_blank"><i class="fa fa-envelope" alt="Send email logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/543515494995" target="_blank"><i class="fab fa-whatsapp" alt="Whatsapp logo"></i>
                                </a>
                            </li>
                        </ul>
                </nav>
                <div class="row">
                    <span class="col-12 mb-4">
                        © 2020 MEMENTO, all rights reserved.
                    </span>
                </div>
            </div>
        </footer>



                <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded js-scroll-trigger" href="#page_top">
            <i class="fas fa-angle-up"></i>
        </a>


        <script src="../vendor/js/popper.min.js"></script>
        <script type="text/javascript" src="../vendor/js/jquery.min.js"></script>
        <script type="text/javascript" src="../vendor/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../vendor/js/bootstrap.bundle.min.js"></script>
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="../vendor/js/stylish-portfolio.min.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    </body>
</html>
