<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Memento/Contact Us</title>
        <meta name="description" content="Find all the ways to contact us here! Feel fee of let us any coment or critic that you wish, about any of our works."
       <meta name="keywords" content="PHOTOGRAPHY,PICTURE,STUDIO,PHOTOGRAPHER,VISUAL ARTS,BACKGROUND,WILD,
       NATURE,LANDSCAPE,PORTRAIT,BLAK&WHITE,LIGTHROOM,MEMENTO,SHOWS,CURSES,EVENTS PHOTOGTAPHER,ANIMALS PHOTOGRAPHY,CONTACT, EMAIL,FACEBOOK,INSTAGRAM">

        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../vendor/css/normalize.css">
        <link rel="stylesheet" href="../vendor/css/bootstrap.min.css"> 

        <link  rel="icon"   href="../assets/icons/logo.png" type="image/png">

        <script src="https://kit.fontawesome.com/076977d5ec.js" crossorigin="anonymous"></script>
    </head>
    <body>
</html>