#__404--background{
    background: linear-gradient(to top, $white 0%, #080808 105%);
    width: 100%;
    height: 100%;
    padding: 20px;
}
#__404{
    text-shadow: $text-shadow-title;
    text-align: center;
    h1{
        font-family: 'Bebas Neue', cursive;
        font-size: 10rem;
        position: relative;
        margin-bottom: 0px;
    }
    h2{
        font-family: 'Bebas Neue', cursive;
        font-size: 7rem;
        position:relative;

    }
    img{
        position: relative;
        border-radius: 3rem;
        width: 40vw;
        height: auto;
        margin: 5px;
    }
    @media only screen and (max-width:$bootstrap-md) {
        h1{
            font-size: 5rem;
        }
        h2{
            font-size: 3.5rem;
        }
    }
}