
/*GALLERY FROM PHOTOJOURNALISM PAGE*/

#__jnl__title{
    color: $black;
    font-size: 3rem;
    font-weight: 300;
}
.__jnl__wraper{
    background-color: $black;
    border-radius: 2.5rem;
    box-shadow: 5px 7px 19px 1px rgba(0,0,0,0.63);
    overflow: hidden;

    .__jnl__image{
        object-fit: fill;
        width:auto;
        height: 426px;
        overflow: hidden;
        padding: 0px;
    }
    .__jnl__description{
        color: $white;
        font-weight: 100;
        h2{
            font-weight: 200;
        }
    }
}

/*BACKGROUND ANIMATION*/

/* Setting fade transition and default settings */
#__jnl__background{
    transition: opacity 1s ease;
  }
  
  /* panel styles */
  .panel {
    /* min height incase content is higher than window height */
    min-height: 40vh;
    display: flex;
    justify-content: center;
  }
  
  /* Colores */
.color-blue {
    background: linear-gradient(to bottom right, #fff 0%, #0e3676 70%);
}
.color-black{
    background: linear-gradient(to top, #fff 0%, #000 80%);
}
.color-red {
    background: linear-gradient(to top, #110652 0%, #f01a1a 90%);
}
.color-green{
    background: linear-gradient(to bottom , #135b05 55%, #fff 100%);
}

